/* common */
.inner{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

a.link_cover{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cont_title{
  font-size: 14px;
  color: #0068b7;
  line-height: 1;
}

.cont_title2{
  font-size: 30px;
  color: black;
  font-weight: 600;
  line-height: 1;
  margin-top: 9px;
}


a#report_moreBtn{
  position: absolute;
  right: 0;
  top: 26px;
  width: 84px;
  height: 30px;
  line-height: 30px;
  background: url('http://postpgamgak.gamgakdesign.com/images/main/more.jpg') no-repeat right 5px;
  font-size: 13px;
  color: black;
}

/* header */
header{
  height: 150px;
  background: url('http://postpgamgak.gamgakdesign.com/images/main/header_bg.jpg') repeat-x;
}

.logo{
  position: absolute;
  left: 0;
  top: 95.5px;
  transform: translateY(-50%);
}

.logo > a{
  display: inline-block;
}

.logo img{
  display: none;
}

#logo_pc{
  display: block;
}

.nav_top{
  position: absolute;
  right: 0;
}

.nav_top > span{
  display: inline-block;
  padding: 0 25px;
  height: 40px;
  line-height: 40px;
  border-left: 1px solid #ddd;
}

.nav_top > span:last-child{
  border-right: 1px solid #ddd;
}

.nav_top > span > a{
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

nav{
  float: right;
  padding-top: 40px;
}

nav > ul > li{
  float: left;
  height: 111px;
  line-height: 111px;
  position: relative;
}

nav > ul > li + li{
  margin-left: 100px;
}

nav > ul > li > a{
  font-size: 20px;
  color: black;
  font-weight: 600;
}

nav > ul > li:hover::before{
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 13px;
  background: url('http://postpgamgak.gamgakdesign.com/images/main/gnb_dot.png') no-repeat;
  content: '';

}

nav > ul > li:hover > .nav_sub{
  display: block;
}

.nav_sub{
  position: absolute;
  width: 160px;
  left: 50%;
  margin-left: -80px;
  overflow: hidden;
  padding: 18px 0;
  display: none;
  z-index: 9999;
  background-color: white;
}

.nav_sub > li{
  height: 30px;
  line-height: 30px;
}

.nav_sub > li > a{
  display: block;
  font-size: 14px;
  color: black;
  padding-left: 20px;
  font-weight: 500;
}

#nav_btn{
  display: none;
}

#nav_btn .nav_btn{
  width: 100%;
  height: 100%;
}


/* main */
main{
  border-top: 1px solid #ddd;
}

/* visual */
#visual{
  height: 410px;
}

#visual .slider > li{
  height: 410px;
}

#visual1{
  background: url('http://postpgamgak.gamgakdesign.com/images/main/visual.jpg') center top no-repeat;
  background-size: cover;
}

#visual2{
  background: url('http://postpgamgak.gamgakdesign.com/images/main/visual.jpg') center top no-repeat;
  background-size: cover;
}

#visual3{
  background: url('http://postpgamgak.gamgakdesign.com/images/main/visual.jpg') center top no-repeat;
  background-size: cover;
}

/* PAGER */
#visual .bx-wrapper .bx-pager {
  text-align: right;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-right: 16px;
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 999;
}
#visual .bx-wrapper .bx-pager.bx-default-pager a {
  background: white;
  text-indent: -9999px;
  display: block;
  width: 9px;
  height: 9px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#visual .bx-wrapper .bx-pager.bx-default-pager a:hover,
#visual .bx-wrapper .bx-pager.bx-default-pager a.active,
#visual .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #0066b2;
}
#visual .bx-wrapper .bx-pager-item,
#visual .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
#visual .bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

/* direction controls (prev/next) */
#visual .bx-wrapper .bx-controls-direction a {
  display: none;
}



/* report */
#report{
  margin-top: 50px;
  height: 294px;
}

#report .inner{
  border: 1px solid #ddd;
  padding: 30px;
  overflow: hidden;
}

.report_left{
  float: left;
  position: relative;
  width: 250px;
}

.report_left > ul{
  margin-top: 29px;
  overflow: hidden;
}

.report_left > ul > li{
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  margin-top: 10px;
}

.report_left > ul > li:first-child{
  margin-top: 0;
}

.report_left > ul > li.on{
  font-weight: 600;
  color: white;
  background-color: #0066b2;
}



.report_right{
  float: right;
  position: relative;
  width: 843px;
  padding: 0 30px;
}

#slider_2{
  display: none;
}

/* PAGER */
.report_right .bx-wrapper .bx-pager {
  display: none;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.report_right .bx-wrapper .bx-prev {
  left: 50%;
  margin-left: -420px;
  background: url('http://postpgamgak.gamgakdesign.com/images/main/prev.jpg') no-repeat 0 0;
}
.report_right .bx-wrapper .bx-prev:hover,
.report_right .bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.report_right .bx-wrapper .bx-next {
  right: 50%;
  margin-right: -420px;
  background: url('http://postpgamgak.gamgakdesign.com/images/main/next.jpg') no-repeat 0 0;
}
.report_right .bx-wrapper .bx-next:hover,
.report_right .bx-wrapper .bx-next:focus {
  background-position: 0 0;
}
.report_right .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -15.5px;
  outline: 0;
  width: 16px;
  height: 31px;
  text-indent: -9999px;
  z-index: 9999;
}
.report_right .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}



/* article */
#article{
  margin-top: 30px;
  overflow: hidden;
}

.content{
  float: left;
  width: 380px;
  position: relative;
}

.content > ul{
  margin-top: 30px;
}

.content > ul > li{
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}

.content > ul > li:first-child{
  margin-top: 0;
}

.content > ul > li h3{
  font-size: 20px;
  line-height: 28px;
  color: black;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content > ul > li p{
  font-size: 14px;
  color: black;
  line-height: 26px;
  height: 52px;
  margin-top: 14px;
  /* overflow: hidden; */
  text-overflow: ellipsis;
}

#notice > ul > li{
  padding: 30px;
  border: 1px solid #ddd;
  height: 154px;
}

#notice > ul > li > img{
  position: absolute;
  bottom: -1px;
  right: -1px;
}


/* gallery */
#gallery{
  margin-left: 30px;
}

.gallery_img{
  float: left;
  width: 145px;
  height: 96px;
}

.gallery_img > img{
  width: 100%;
  height: 100%;
}

.gallery_cont{
  float: left;
  margin-left: 20px;
  width: 215px;
  line-height: 1;
}

.gallery_cont > dt{
  font-size: 20px;
  color: black;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}

.gallery_cont > dd{
  font-size: 14px;
  color: black;
  line-height: 26px;
  height: 52px;
  margin-top: 14px;
  overflow: hidden;
}


/* article_btnG */
#article_btnG{
  margin-left: 30px;
  float: left;
  width: 380px;
}

#article_btnG > ul > li{
  position: relative;
  padding-top: 27px;
  height: 101px;
}

#article_btnG > ul > li h2{
  font-size: 25px;
  color: white;
  padding-left: 102px;
}

#article_btnG_1{
  background: url('http://postpgamgak.gamgakdesign.com/images/main/quick01.jpg') no-repeat;
}

#article_btnG_2{
  background: url('http://postpgamgak.gamgakdesign.com/images/main/quick02.jpg') no-repeat;
}

#article_btnG_3{
  background: url('http://postpgamgak.gamgakdesign.com/images/main/quick03.jpg') no-repeat;
}

#article_btnG_4{
  background: url('http://postpgamgak.gamgakdesign.com/images/main/quick04.jpg') no-repeat;
}

.mob_img{
  display: none;
}

a#article_btnG_btn{
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 84px;
  height: 30px;
  line-height: 30px;
  background: url('http://postpgamgak.gamgakdesign.com/images/main/more02.png') no-repeat right 10px;
  font-size: 13px;
  color: white;
}



/* footer */
footer{
  margin-top: 50px;
  background: url('http://postpgamgak.gamgakdesign.com/images/main/footer_bg.jpg') repeat-x;
}

.footer_menu{
  font-size: 0;
}

.menu{
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
}

.menu > a{
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.footer_menu > span + span{
  margin-left: 50px;
}

.footer_menu > span:first-child::before{
  display: none;
}

.footer_menu > span::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  width: 1px;
  height: 13px;
  background-color: #ddd;
}

.family_site{
  position: absolute;
  right: 0;
  top: 0;
}

.family_site > span{
  font-size: 14px;
  color: #ddd;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  width: 143px;
  background: url('http://postpgamgak.gamgakdesign.com/images/main/f_arrow.jpg') no-repeat;
  padding-left: 24px;
  cursor: pointer;
}

.family_site > span.on{
  background: url('http://postpgamgak.gamgakdesign.com/images/main/f_arrow_on.jpg') no-repeat;
  color: black;
}

.family_site > ul{
  position: absolute;
  bottom: 40px;
  left: 0;
  padding: 13px 0;
  width: 100%;
  display: none;
}

.family_site > ul > li{
  padding-left: 24px;
  line-height: 26px;
  background-color: white;
}

.family_site > ul > li > a{
  font-size: 13px;
  color: black;
}

.footer_nav{
  padding-top: 29px;
  overflow: hidden;
}

.footer_nav > dl + dl{
  margin-left: 110px;
}

.footer_nav_cont{
  float: left;
}

.footer_nav_cont > dt{
  font-size: 20px;
  color: #ddd;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 11px;
}

.footer_nav_cont > dd > a{
  font-size: 14px;
  color: #ddd;
  line-height: 30px;
}

span.enter{
  display: block;
}

span.space{
  display: inline-block;
  margin-right: 25px;
}

.footer_logo{
  position: absolute;
  right: 0;
  top: 69px;
}

.footer_mob, .footer_tab{
  display: none;
}

footer address{
  position: absolute;
  right: 0;
  top: 135px;
  text-align: right;
  font-size: 14px;
}


@media all and (max-width: 1024px) {
  /* common */
  .inner{
    max-width: 100%;
    margin: 0 auto;
    position: static;
  }

  main > section{
    position: relative;
  }

  footer{
    position: relative;
  }

  /* header */

  .logo{
    position: absolute;
    left: 3%;
    top: 95.5px;
    transform: translateY(-50%);
  }


  #logo_pc{
    display: none;
  }

  #logo_tab{
    display: block;
    height: 45px;
  }

  .nav_top{
    display: none;
  }

  nav{
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    height: 100%;
    padding-left: 40%;
    padding-top: 0;
    z-index: 10000;
    display: none;
  }

  nav.on{
    display: block;
  }

  nav > ul {
    border-top: 1px solid #ddd;
    background-color: white;
  }

  nav > ul > li{
    float: none;
    display: block;
    height: 100%;
    line-height: 70px;
    position: relative;
    border-bottom: 1px solid #ddd;
    padding-left: 3%;
  }

  nav > ul > li + li{
    margin-left: 0;
  }

  nav > ul > li > a{
    display: block;
    padding-left: 10px;
    font-size: 15px;
    color: black;
    font-weight: 600;
  }

  nav > ul > li:hover::before{
    content: none;
  }

  nav > ul > li.nav_on::before{
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 40px;
    margin-left: -5px;
    width: 10px;
    height: 9px;
    background: url('http://postpgamgak.gamgakdesign.com/images/main/navi_dot.jpg') no-repeat;
    background-size: 100% 100%;
    content: '';
  }

  nav > ul > li:hover > .nav_sub{
    display: none;
  }

  nav > ul > li.nav_on > .nav_sub{
    display: block;
  }

  .nav_sub{
    position: static;
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    padding: 17px 3%;
    display: none;
    z-index: 9999;
    background-color: white;
  }

  .nav_sub > li{
    height: 30px;
    line-height: 30px;
  }

  .nav_sub > li > a{
    display: block;
    font-size: 12px;
    color: black;
    padding-left: 10px;
    font-weight: 500;
  }

  #nav_btn{
    display: block;
    position: absolute;
    top: 95.5px;
    transform: translateY(-50%);
    right: 3%;
    width: 31px;
    height: 21px;
  }

  #nav_btn .nav_btn{
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  #nav_btn #close{
    display: none;
  }

  /* visual */
  #visual{
    height: 100%;
  }

  #visual .slider > li{
    padding-top: 48.43%;
  }


  /* report */
  #report{
    margin-top: 50px;
    height: 294px;
    padding: 0 3%;
  }


  .report_left{
    float: left;
    position: relative;
    width: 180px;
  }

  .report_left > ul{
    margin-top: 29px;
    overflow: hidden;
  }

  .report_left > ul > li{
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    margin-top: 10px;
  }

  .report_left > ul > li:first-child{
    margin-top: 0;
  }

  .report_left > ul > li.on{
    font-weight: 600;
    color: white;
    background-color: #0066b2;
  }



  .report_right{
    float: right;
    position: relative;
    width: calc(100% - 180px);
    padding: 0 30px;
  }

  #slider_2{
    display: none;
  }

  .report_right .bx-wrapper .bx-prev {
    left: 8px;
    margin-left: 0;
    background: url('http://postpgamgak.gamgakdesign.com/images/main/prev.jpg') no-repeat 0 0;
  }

  .report_right .bx-wrapper .bx-next {
    right: 8px;
    margin-right: 0;
    background: url('http://postpgamgak.gamgakdesign.com/images/main/next.jpg') no-repeat 0 0;
  }

  /* article */
  #article{
    padding: 0 3%;
  }
  /* article_btnG */
  #article_btnG{
    margin-left: 0;
    float: left;
    width: 100%;
    margin-top: 30px;
  }

  #article_btnG > ul > li{
    position: relative;
    padding-top: 15px;
    height: 60px;
    float: left;
    width: 50%;
  }

  #article_btnG > ul > li h2{
    font-size: 18px;
    color: white;
    padding-left: 79px;
  }

  #article_btnG_1{
    background: url('http://postpgamgak.gamgakdesign.com/images/main/quick01_tab.jpg') no-repeat;
  }

  #article_btnG_2{
    background: url('http://postpgamgak.gamgakdesign.com/images/main/quick02_tab.jpg') no-repeat;
  }

  #article_btnG_3{
    background: url('http://postpgamgak.gamgakdesign.com/images/main/quick03_tab.jpg') no-repeat;
  }

  #article_btnG_4{
    background: url('http://postpgamgak.gamgakdesign.com/images/main/quick04_tab.jpg') no-repeat;
  }

  .mob_img{
    display: block;
    position: absolute;
    top: 20px;
    left: 25px;
    height: 20px;
  }

  a#article_btnG_btn{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 84px;
    height: 30px;
    line-height: 30px;
    background: url('http://postpgamgak.gamgakdesign.com/images/main/more02.png') no-repeat right 10px;
    font-size: 13px;
    color: white;
  }



  /* footer */
  footer{
    margin-top: 50px;
    background: url('http://postpgamgak.gamgakdesign.com/images/main/footer_bg.jpg') repeat-x;
    padding: 0 3%;
  }

  .menu > a{
    color: white;
    font-size: 13px;
    font-weight: 500;
  }


  .family_site{
    position: absolute;
    right: 3%;
    top: 0;
  }

  .family_site > span{
    font-size: 14px;
    color: #ddd;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    width: 143px;
    background: url('http://postpgamgak.gamgakdesign.com/images/main/f_arrow.jpg') no-repeat;
    padding-left: 24px;
    cursor: pointer;
  }


  .footer_nav{
    display: none;
  }

  span.enter{
    margin-right: 25px;
    display: inline-block;
  }

  span.space{
    margin-right: 25px;
    display: inline-block;
  }

  .copyright{
    display: none;
  }

  .footer_logo{
    position: static;
    display: block;
    padding-top: 29px;
    text-align: center;
  }

  .footer_mob, .footer_pc{
    display: none;
  }

  .footer_tab{
    display: inline-block;
    height: 38px;
  }


  footer address{
    position: static;
    display: block;
    margin-top: 30px;
    text-align: center;
    line-height: 55px;
    font-size: 14px;
  }


}


@media all and (max-width: 768px) {
  #report{
    height: auto;
  }

  .report_left{
    float: none;
    display: block;
    width: 100%;
  }

  .report_left > ul{
    margin-top: 20px;
  }

  .report_left > ul > li{
    float: left;
    width: 50%;
  }

  .report_right{
    float: none;
    display: block;
    width: 100%;
  }

  .report_right .slider > li{
    height: 161px;
  }


  /* article */
  .content{
    display: block;
    float: none;
    width: 100%;
  }

  #gallery{
    margin-top: 23px;
    margin-left: 0;
  }

  /* article_btnG */
  .mob_img{
    height: 19px;
    top: 11px;
    left: 16px;
  }

  #article_btnG > ul > li{
    height: 40px;
    line-height: 40px;
    padding: 0
  }

  #article_btnG_1 .mob_img{
    top: 15px;
    left: 50%;
    margin-left: -37px;
    height: 11px;
  }

  #article_btnG > ul > li h2{
    font-size: 14px;
    padding-left: 50px;
  }

  a#article_btnG_btn{
    display: none;
  }

  /* footer */
  .footer_menu > span:last-child{
    display: none;
  }

  .footer_menu > span + span{
    margin-left: 20px;
  }

  .footer_menu > span::before{
    left: -10px;
  }

  .menu{
    line-height: 35px;
    height: 35px;
  }

  .menu > a{
    font-size: 11px;
  }

  footer address{
    font-size: 11px;
    line-height: 18px;
    margin-top: 17px;
  }

  span.enter{
    display: block;
    margin: 0;
  }

  .copyright{
    display: block;
    line-height: 18px;
    margin-top: 8px;
  }

}



/*  */
