body{
  min-width: 1106px;
}
.wrap{
  width: 100%;
  height: 100%;
}

span{
  display: inline-block;
}

ul{
  list-style: none;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: black;
}


/* header */
header{
  margin: 0 auto;
  width: 96%;
  height: 130px;
  text-align: center;
  font-size: 11px;
}

  /* 1 side_Nav */
  header .side_Nav{
    width: 100%;
    height: 30%;
  }

  header .side_Nav .left_nav{
    float: left;
    height: 22px;
  }

  .left_nav li{
    line-height: 22px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }

  .left_nav li:not(:last-child)::after{
    height: 20px;
    width: 1px;
    margin: 0 5px;
    content: '';
    display: inline-block;
    background-color: #dcdcdc;
    position: absolute;
    top:50%;
    right: -10px;
    transform: translateY(-50%);
  }

  header .side_Nav .right_nav{
    float: right;
  }

  .right_nav_login, .right_nav_select{
    float: left;
  }

  .right_nav_login{
    height: 22px;
  }
  .right_nav_login li{
    line-height: 22px;
  }

  .right_nav_select{
    margin-left: 10px;
  }

  .right_nav_select li{
    width: 36px;
  }

  .right_nav_select li a{
    background: url('http://www.cjhello.com/front/web/images/layout/sp-btn-member-type.png') no-repeat;
    overflow: hidden;
    display: block;
    height: 22px;
    text-indent: 100%;
  }

  .right_nav_select li:first-child a{
    background-position: 0 -23px;
  }

  .right_nav_select li:last-child a{
    background-position: -36px -23px;
  }



  /* 2 main_Nav */
  nav{
    clear: both;
    position: relative;
    height: 70%;
  }

  nav .logo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  nav .nav{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  nav .nav ul li:not(:last-child){
    margin-right: 30px;
  }

  nav #search{
    /* text-indent: 100%; */
    margin-right: 20px;
    position: absolute;
    width: 24px;
    height: 30px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background: url('http://www.cjhello.com/front/web/images/layout/ico-search.png') no-repeat;
  }

  nav #hamburger{
    /* text-indent: 100%; */
    margin-right: 20px;
    position: absolute;
    width: 24px;
    height: 30px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url('http://www.cjhello.com/front/web/images/layout/ico-menu.png') no-repeat;
  }

/* slide_Section */
.slide_Section{
  height: 100%;
  position: relative;
}

.slide_item a{
  display: block;
  height: 590px;
}

.slide_item img{
  display: block;
  width: 98%;
  height: 100%;
  margin: 0 auto;
}
  /* 1 progress_Bar */

  /* 2 quick_Menu */
  .quick_Menu{
    position: absolute;
    bottom: 30px;
    right: 70px;
    left: 70px;
    height: 100px;
    z-index: 100;
    background-color: white;
    text-align: center;
  }

  .quick_Menu .quick_Title{
    font-size: 20px;
    width: 380px;
    height: 100%;
    display: inline-block;
    line-height: 100px;

  }

  .quick_Menu .quick_Title::before{
    background: url('http://www.cjhello.com/front/web/images/main/ico-36-tooltip.png') no-repeat;
    width:36px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    content: '';
  }

  .quick_Menu .quict_list{
    height: 100%;
    width: calc(100% - 390px);
    display: inline-block;
    line-height: 100px;
  }

  .quick_Menu .quict_list a{
    margin-left: 50px;
    text-decoration: none;
    color: black;
    position: relative;
  }

  .quick_Menu .quict_list a::before{
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: 36px;
    height: 36px;
  }

  .quick_Menu .quict_list a:nth-child(1)::before{
    background: url('http://www.cjhello.com/front/web/images/main/ico-36-tv.png') no-repeat;
  }
  .quick_Menu .quict_list a:nth-child(2)::before{
    background: url('http://www.cjhello.com/front/web/images/main/ico-36-internet.png') no-repeat;
  }
  .quick_Menu .quict_list a:nth-child(3)::before{
    background: url('http://www.cjhello.com/front/web/images/main/ico-36-combination.png') no-repeat;
  }
  .quick_Menu .quict_list a:nth-child(4)::before{
    background: url('http://www.cjhello.com/front/web/images/main/ico-36-special.png') no-repeat;
  }

  .quick_Menu .quict_list a:not(:last-child)::after{
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    content: '';
    width: 1px;
    height: 30px;
    background-color: #dcdc00;
    display: inline-block;
  }

  .quick_Menu .quict_list a:hover{
    color: blue;
  }


/* information section */
.inform_Section{
  padding-top: 90px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #f2f3f6;
}

.inform_Section p{
  margin-top: 10px;
}

  /* 1 interaction div */
  .interaction{
    width: 962px;
    margin: 0 auto;
    height: 800px;
    position: relative;
  }
  .interaction .interaction_background{
    background-image: url(http://www.cjhello.com/front/web/images/main/bg-diy.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 540px;
    width: 962px;
    margin: 0 auto;
    margin-top: 30px;
  }

    /* 1-1 left_side_tv */
    .left_side_tv{
      position: absolute;
      left: 10px;
      top:50%;
      transform: translateY(-50%);

    }

    .left_side_tv .list input{
      position: absolute;
      left: -9999px;
    }

    .left_side_tv .list label{
      display: block;
      border-radius: 20px;
      overflow: hidden;
      background-color: inherit;
      cursor: pointer;
      border: 1px solid rgba(0,0,0,0.2);
      font-weight: 500;
      line-height: 38px;
      width: 150px;
    }

    .left_side_tv .list label:hover{
      color: white;
      background-color: black;
    }

    /* 1-2 right_side_internet */
    .right_side_internet{
      position: absolute;
      right: 10px;
      top:50%;
      transform: translateY(-50%);

    }

    .right_side_internet .list input{
      position: absolute;
      left: -9999px;
    }

    .right_side_internet .list label{
      display: block;
      border-radius: 20px;
      overflow: hidden;
      background-color: inherit;
      cursor: pointer;
      border: 1px solid rgba(0,0,0,0.2);
      font-weight: 500;
      line-height: 38px;
      width: 150px;
    }

    .right_side_internet .list label:hover{
      color: white;
      background-color: black;
    }

    .list{
      margin-top: 20px;
    }


    /* 1-3 total_calc */
    .total_calc{
      display: flex;
      flex-direction: row;
      position: absolute;
      width: 100%;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      background-color: white;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    }

      /* 1-3-1 first */
      .total_calc .event_Card{
        height: 134px;
        flex: 1 1 0;
        padding: 30px;
        font-size: 13px;
        position: relative;
      }

      .total_calc .event_Card p{
        font-size: 10px;
        color: gray;
        text-align: center;
      }

      .total_calc .event_Card .event_Card_position{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
      }

      .total_calc .event_Card .Question_icon{
        display: inline-block;
      }

      .total_calc .event_Card .Question_icon button{
        background: url('http://www.cjhello.com/front/web/images/common/ico-help-gray.png') no-repeat;
        background-position: center center;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        overflow: hidden;
        cursor: pointer;
      }

      /* 1-3-2 second */
      .total_calc .total_sum{
        height: 134px;
        flex: 1 1 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      /* 1-3-3 third */
      .total_calc .order_btn{
        height: 134px;
        flex: 1 1 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

/* benefit section */

/* search_region section */

/* best products section */
  /* 1 header */
  /* 2 slide_item */
    /* 2-1 item 1 */
      /* 2-1-1 item_top */
      /* 2-1-2 item_bottom */

    /* 2-2 item2 */
      /* 2-2-1 item_top */
      /* 2-2-2 item_bottom */

/* recommend section */
  /* 1 web left position */
  /* 2 web right position */


/* helloShop_benefit section */
  /* 1 helloShop_header */
    /* 1-1 title */
    /* 1-2 content */

  /* 2 helloShop_bottom */
  .call_icon{
    background-image: url('http://www.cjhello.com/front/web/images/common/ico-phone-call.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
  }
/* CJ_Hello servic intro section */
.service_Intro .img{
  background-image: url('http://www.cjhello.com/CJH_Files/KOR_NEW/DISPLAY_CONTROL/Main_%ED%95%98%EB%8B%A8_banner_02_1920X240.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 240px;
}
  /* 1 button */

/* csCenter section */

/* footer */
.footer_warp span .ico{
  background: url('http://www.cjhello.com/front/web/images/common/ico-plus-sm-white.png') no-repeat center;
  height: 10px;
  width: 10px;
}
