
/* card */
.card{
  position: relative;
  height: 100vh;
  width: 630px;
  margin: 0 auto;

}

.position{
  overflow: hidden;
  border-radius: 20px;
  font-size: 19px;
  color: black;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 570px;
  padding: 20px;
}







/* card2 */
.card2{
  position: relative;
  height: 100vh;
  background: url('./newYearIMG/sunset2.jpg') center top no-repeat;
  font-family: 'Nanum Pen Script', cursive;
}













/* card3 */
.card3{
  position: relative;
  height: 100vh;
  background: url('./newYearIMG/firework.jpg') center top no-repeat;
  font-family: 'Nanum Pen Script', cursive;
}
























/*  */
