/* common */
.inner{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

a.link_cover{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


/* header */
header{
  position: absolute;
  height: 110px;
  width: 100%;
  padding-top: 45px;
  z-index: 999;
}

.logo{
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
}

.logo > img{
  width: 100%;
  height: 100%;
}

.tab_logo , .mob_logo{
  display: none;
}

.lang{
  background: url('http://test15.gamgakdesign.com/images/main/lang_arrow.png') no-repeat 67px 9px;
  width: 80px;
  height: 24px;
  position: absolute;
  right: 60px;
  top: 0;
  padding-left: 30px;
}

.lang > img{
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
}

.lang > ul{
  display: inline-block;
}

.lang > ul > li > a{
  font-size: 15px;
  color: white;
}

.lang > ul > li:not(.on){
  display: none;
}

.lang > ul:hover > li{
  display: block;
}

.nav_btn{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.nav_btn > img{
  width: 100%;
  height: 100%;
}

/* open nav when clicked nav_btn */
.nav_cont{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  padding-top: 40px;
  z-index: 1000;
  display: none;
}

nav{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  font-size: 0;
  background-color: white;
}

.nav_item{
  display: inline-block;
  padding: 100px 60px;
  height: 490px;
  width: 300px;
  vertical-align: top;
}

.nav_item:hover{
  background-color: #f9f9f9;
}

.nav_item > dt{
  position: relative;
  font-size: 25px;
  color: black;
  font-weight: 600;
  line-height: 32px;
  padding-bottom: 18px;
}

.nav_item > dt::before{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;
  height: 2px;
  background-color: #e60012;
  content: '';
}

.nav_item > dd{
  margin-top: 20px;
  line-height: 1;
}


.nav_item > dd > a{
  font-size: 16px;
  color: black;
}

span.close_btn{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 29px;
  background: url('http://test15.gamgakdesign.com/images/main/gnb_btn_close.png') no-repeat;
  cursor: pointer;
}

a.siteMap_btn{
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 35px;
  line-height: 33px;
  padding: 0 25px;
  border: 1px solid #ddd;
  font-size: 13px;
  color: black;
}


/* visual */
.visual{
  position: relative;
  height: 940px;
}

.visual #slider1{
  height: 940px;
  background: url('http://test15.gamgakdesign.com/images/main/visual03.jpg') center top no-repeat;
  background-size: cover;
}

.visual #slider2{
  height: 940px;
  background: url('http://test15.gamgakdesign.com/images/main/visual02.jpg') center top no-repeat;
  background-size: cover;
}

.visual #slider3{
  height: 940px;
  background: url('http://test15.gamgakdesign.com/images/main/visual.jpg') center top no-repeat;
  background-size: cover;
}


/* bx-controls */
.visual .bx-controls{
  position: absolute;
  bottom: 320px;
  left: 0;
  right: 0;
  text-align: center;
}

/* PAGER */
.visual .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #ddd;
  display: inline-block;
}
.visual .bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 2.5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.visual .bx-wrapper .bx-pager.bx-default-pager a:hover,
.visual .bx-wrapper .bx-pager.bx-default-pager a.active,
.visual .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: white;
  width: 30px;
  border-radius: 30px;
}
.visual .bx-wrapper .bx-pager-item,
.visual .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.visual .bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.visual .bx-wrapper .bx-prev {
  left: 50%;
  margin-left: -692px;
  background: url('http://test15.gamgakdesign.com/images/main/prev.png') no-repeat 0 0;
}
.visual .bx-wrapper .bx-prev:hover,
.visual .bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.visual .bx-wrapper .bx-next {
  right: 50%;
  margin-right: -692px;
  background: url('http://test15.gamgakdesign.com/images/main/next.png') no-repeat 0 0;
}
.visual .bx-wrapper .bx-next:hover,
.visual .bx-wrapper .bx-next:focus {
  background-position: 0 0;
}
.visual .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: -209px;
  outline: 0;
  width: 24px;
  height: 47px;
  text-indent: -9999px;
  z-index: 9999;
}
.visual .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
  display: inline-block;

}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 12px;
  height: 14px;
  outline: 0;
  background: url('http://test15.gamgakdesign.com/images/main/play.png') 0 0 no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  display: none;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 12px;
  height: 14px;
  outline: 0;
  background: url('http://test15.gamgakdesign.com/images/main/stop.png') 0 0 no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  display: none;
}

.visual_nav{
  position: absolute;
  bottom: 380px;
  left: 0;
  right: 0;
  text-align: center;
}

.visual_navCont{
  display: inline-block;
}

.visual_navCont > dl{
  display: table-cell;
  width: 66px;
  height: 64px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding: 0 12px 10px;
  border-bottom: 1px solid white;
}

.visual_navCont > dl:hover{
  border-bottom: 1px solid red;
}

.visual_navCont > dl + dl{
  margin-left: 24px;
}

.visual_navCont > dl > dd{
  font-size: 17px;
  color: white;
  font-weight: 600;
}


.visual_nav2{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 170px;
  padding-top: 33px;
}

.visual_nav2:hover{
  background: url('http://test15.gamgakdesign.com/images/main/visual_btm_bg.png') repeat-x;
}

.visual_nav2_cont{
  overflow: hidden;
}

.visual_nav2_cont > li{
  float: left;
  width: 300px;
  text-align: center;
}

.visual_nav2_cont > li > a{
  display: block;
}

.visual_nav2_cont span.circle{
  display: block;
  width: 15px;
  height: 15px;
  background: url('http://test15.gamgakdesign.com/images/main/off.png') no-repeat;
  margin: 14px auto 0;
}

.visual_nav2_cont > li:hover span.circle{
  background: url('http://test15.gamgakdesign.com/images/main/on.png') no-repeat;
}

.visual_nav2_cont span.title{
  display: inline-block;
  margin-top: 7px;
  color: white;
  font-size: 14px;
  text-shadow: 0 0 3px rgba(0,0,0,0.3);
}



/* product_list */
.product_list{
  padding-top: 70px;
  padding-bottom: 60px;
  position: relative;
}

.product_list .slider > li{
  position: relative;
}

.product_list span.slider_img{
  display: block;
  padding-top: 78.94%;
  position: relative;
}

.product_list .slider_img > img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.product_list .slider_text{
  height: 80px;
  background: white;
  padding: 0 20px;
  position: relative;
}

.product_list .slider_text::before{
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background-color: black;
  margin: 0 auto;
}

.slider_text > h3{
  font-size: 22px;
  color: black;
  margin-top: 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

a.coverBg:hover{
  background: url('http://test15.gamgakdesign.com/images/main/slider_hover.png') no-repeat;
  background-size: cover;
}

/* PAGER */
.product_list .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
  display: none;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.product_list .bx-wrapper .bx-prev {
  left: 50%;
  margin-left: -710px;
  background: url('http://test15.gamgakdesign.com/images/main/m_prev.png') no-repeat 0 0;
}
.product_list .bx-wrapper .bx-prev:hover,
.product_list .bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.product_list .bx-wrapper .bx-next {
  right: 50%;
  margin-right: -710px;
  background: url('http://test15.gamgakdesign.com/images/main/m_next.png') no-repeat 0 0;
}
.product_list .bx-wrapper .bx-next:hover,
.product_list .bx-wrapper .bx-next:focus {
  background-position: 0 0;
}
.product_list .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  outline: 0;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  z-index: 9999;
}
.product_list .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}



/* footer */
footer{
  background: url('http://test15.gamgakdesign.com/images/main/footer_bg.jpg') repeat-x;
  padding-bottom: 20px;
}

.footer_top{
  font-size: 0;
}

.footer_top > span{
  display: inline-block;
  width: 120px;
  height: 50px;
  line-height: 50px;
  border-left: 1px solid #ddd;
  text-align: center;
}

.footer_top > span:last-child{
  border-right: 1px solid #ddd;
}

.footer_top > span > a{
  font-size: 13px;
  color: black;
  display: block;
}

span.space{
  display: inline-block;
  margin-right: 14px;
}

address{
  padding-top: 25px;
  font-size: 13px;
  color: black;
}

.copyright{
  line-height: 20px;
}

.footer_logo{
  position: absolute;
  right: 0;
  bottom: 20px;
}

.footer_logo > a > img{
  width: 100%;
  height: 100%;
}

/*  */
