*{
  text-align: center;
}

.container{
  width: 100%;
  height: 100vh;
}

.wrap{
  margin: 0 auto;
  width: 92%;
  height: 100%;
}

/* 상위 div영역 */
.top{
  width: 100%;
  height: 220px;
}

.logo{
  float: left;
  height: 100%;
  width: 20%;
  background: #ff0;
}

.logo h1{
  font-size: 5rem;
}

.nav{
  height: 100%;
  width: 80%;
  float: left;
}

.nav .GNB{
  width: 100%;
  height: 33.33%;
  background: rgb(115, 27, 120);
}

.nav .wrap_CNB-search{
  width: 100%;
  height: calc(100% - 33.33%);
}

.nav .wrap_CNB-search .wrap_CNB{
  height: 100%;
  width: 80%;
  float: left;
}

.nav .wrap_CNB-search .CNB{
  width: 100%;
  height: 50%;
}

.nav .wrap_CNB-search .CSNB{
  width: 100%;
  height: 50%;
  background: #f0f;
}

.nav .wrap_CNB-search .search{
  width: 20%;
  height: 100%;
  float: left;
  background: #00f;
}

.middle{
  width: 100%;
  height: calc(100% - 440px);
}

.middle .left_div{
  float: left;
  width: 20%;
  height: 100%;
}

.middle .left_div .OUTLOGIN{
  width: 100%;
  height: 35%;
}

.middle .left_div .LNB{
  width: 100%;
  height: 65%;
  background: #f0f;
}


.middle .right_div{
  float: left;
  width: 80%;
  height: 100%;
}

.middle .right_div .LOCATE{
  width: 80%;
  height: 15%;
  background: rgb(27, 21, 47);
  float: left;
}

.middle .right_div .INF{
  width: 20%;
  height: 15%;
  float: left;
}

.middle .right_div .CONTENTS{
  width: 100%;
  height: 100%;
  background: rgb(66, 215, 189);
}

.bottom{
  width: 100%;
  height: 220px;
}

.bottom .FGNB{
  width: 100%;
  height: 50%;
  background: rgb(65, 145, 44);
}

.bottom .COPYRIGHT{
  width: 100%;
  height: 50%;
  background: rgb(223, 176, 29);
}
